name: Build/release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]
        arch: [x64]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: ${{ matrix.os }} ${{ matrix.arch }} build
        env:
          M_ARCH: ${{matrix.arch}}
        run: |
          pnpm i
          pnpm run build:win
          del dist/*.blockmap

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: 'dist/where-llms-meet-*'
          draft: false
          prerelease: true
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
